<!-- it is a header component -->
<header class="header-content header">
    <div class="logo-content">
        <!-- When a user click on the logo or brand name Employee Payroll then onDashboard function is called
             which let the user on dasboard page -->
        <img src="../assets/EmpLogo.png" alt="logo" (click)="onDashboard()">
        <div (click)="onDashboard()">
            <span class="emp-text">EMPLOYEE</span><br>
            <span class="emp-text emp-payroll">PAYROLL</span>
        </div>
    </div>
</header>
<router-outlet></router-outlet>