<div class="main-content">
    <div class="header-content employee-header">
      <div class="emp-detail-text">
        Employee Details
      </div>
      <div class="form-group">
        <input type="text" class="form-control" placeholder="Search Here" >
    </div>
    
        <button class="add-button" (click)="onAddUser()"><img src="../assets/plus_symbol.svg" />Add User</button>
    </div>
    
  
    <div class="table-main">
      <table id="table-display" class="table">
        <tr>
          <!--Table header-->
          <th></th>
          <th>Name</th>
          <th>Gender</th>
          <th>Department</th>
          <th>Salary</th>
          <th>Start Date</th>
          <th>Actions</th>
      </tr>
      <tr>
        <td>
            <img class="profile" src="../assets/profile_img-2.png" alt="">
        </td>
        <td>Abhishek</td>
        <td>Male</td>
        <td>
            <div class="dept-label">
                <h6>HR</h6>
            </div>
        </td>
        <td>18000</td>
        <td>2 January 2022</td>
  
        <!--To update and delete an employee from the database-->
        <td>
             
            <img src="../assets/delete.svg" alt="delete">
            <img src="../assets/edit.svg" alt="edit">
        </td>
    </tr>
    <tr>
        <td>
            <img class="profile" src="../assets/profile_img-2.png" alt="">
        </td>
        <td>Sohail</td>
        <td>Male</td>
        <td>
            <div class="dept-label">
                <h6>Sales</h6>
            </div>
        </td>
        <td>32000</td>
        <td>10 March 2020</td>
  
        <!--To update and delete an employee from the database-->
        <td>
             
            <img src="../assets/delete.svg" alt="delete">
            <img src="../assets/edit.svg" alt="edit">
        </td>
    </tr>
    <tr>
      <td>
          <img class="profile" src="../assets/profile_img-4.png" alt="">
      </td>
      <td>Almas</td>
      <td>Female</td>
      <td>
          <div class="dept-label">
              <h6>Developer</h6>
          </div>
      </td>
      <td>67000</td>
      <td>22 October 2021</td>
  
      <!--To update and delete an employee from the database-->
      <td>
           
          <img src="../assets/delete.svg" alt="delete">
          <img src="../assets/edit.svg" alt="edit">
      </td>
  </tr>
  <tr>
    <td>
        <img class="profile" src="../assets/profile_img-2.png" alt="">
    </td>
    <td>Ram Sir</td>
    <td>Male</td>
    <td>
        <div class="dept-label">
            <h6>Developer</h6>
        </div>
    </td>
    <td>380000</td>
    <td>13 March 2010</td>

    <!--To update and delete an employee from the database-->
    <td>
         
        <img src="../assets/delete.svg" alt="delete">
        <img src="../assets/edit.svg" alt="edit">
    </td>
</tr>
      </table>
    </div>
  </div>